/*h4のデザインを設定*/
.jin{
	font-size:50px; 
	color: blue;
}

.jin div:first-child{
	margin-right: 30px;
}

/*id=redのこと*/
#red{
	color: red;
}

/*class=blueのこと*/
.blue{
	color: blue;
}

#yellow	{
	border: 5px solid black;
	color: yellow;
	padding: 30px;
	margin: 30px80px;
}	


